<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/activities/exercise.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %> 
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <form class="form" action="/activities/exercise" method="POST">
        <div class="form__control">
            <!-- NAME -->
            <div class="form__item">
                <label for="name" class="form__title">Nombre:</label>
                <input type="text" name="name" id="exercise-name">
            </div>
            <!-- ALTERNATIVE NAME -->
            <div class="form__item">
                <label for="alternativeName" class="form__title">Nombre alternativo:</label>
                <input type="text" name="alternativeName" id="alternativeName">
            </div>
            <!-- DIFFICULTY -->
            <div class="form__item-rows">
                <label for="difficulty" class="form__title">Dificultad:</label>
                <select name="difficulty" id="difficulty-selection">
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                </select>
            </div>
            <!-- COMPOUND MOVEMENT -->
            <div class="form__item">
                <label class="form__title">Ejercicio compuesto:</label>
                <input type="radio" name="compundMovement" id="compundMovement-yes-selection">
                <label for="compundMovement" class="form__title">Sí</label>
                <input type="radio" name="compundMovement" id="compundMovement-no-selection">
                <label for="compundMovement" class="form__title">No</label>
            </div>
            <!-- MAIN MUSCLE -->
            <div class="form__item-rows">
                <label for="mainMuscle" class="form__title">Músculo principal:</label>
                <select name="mainMuscle" id="mainMuscle-selection">
                    <option value="pantorrilla">Pantorrilla</option>
                </select>
            </div>
            <!-- SECONDARY MUSCLES -->
            <div class="form__item-rows">
                <label for="secondaryMuscles" class="form__title">Músculos secundarios:</label>
                <div class="form__selects-div" id="secondaryMuscles-selects">
                    <select name="secondaryMuscles" id="secondaryMuscles-selection">
                        <option value="pantorrilla">Pantorrilla</option>
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-muscle">Añadir músculo</button>
            </div>
            <!-- TYPES -->
            <div class="form__item-rows">
                <label for="types" class="form__title">Tipos de ejercicio:</label>
                <div class="form__selects-div" id="types-selects">
                    <select name="types" id="types-selection">
                        <option value="fuerza">Fuerza</option>
                        <option value="hiit">HIIT</option>
                        <option value="cardio">Cardio</option>
                        <option value="estiramiento">Estiramiento</option>
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-type">Añadir tipo</button>
            </div>
            <!-- EQUIPMENTS -->
            <div class="form__item-rows">
                <label for="equipments" class="form__title">Ejercicios:</label>
                <div class="form__selects-div" id="equipments-selects">
                    <select name="equipments">
                        <!-- [Loop1] Loop through all the equipments options -->
                        <% equipments?.forEach( eq => { %>
                            <option value="<%= eq._id %>"><%= eq.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-equipment">Añadir ejercicio</button>
            </div>
            <!-- SAFE FOR CONDITIONS -->
            <div class="form__item-rows">
                <label for="safeForConditions" class="form__title">Seguro para condiciones:</label>
                <div class="form__selects-div" id="safeForConditions-selects">
                    <select name="safeForConditions">
                        <!-- [Loop1] Loop through all the physical conditions options -->
                        <% physicalConditions?.forEach( pc => { %>
                            <option value="<%= pc._id %>"><%= pc.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-safe-condition">Añadir condición</button>
            </div>
            <!-- NOT RECOMMENDED FOR CONDITIONS -->
            <div class="form__item-rows">
                <label for="notRecommendedForConditions" class="form__title">No recomendado para condiciones:</label>
                <div class="form__selects-div" id="notRecommendedForConditions-selects">
                    <select name="notRecommendedForConditions">
                        <!-- [Loop1] Loop through all the physical conditions options -->
                        <% physicalConditions?.forEach( pc => { %>
                            <option value="<%= pc._id %>"><%= pc.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-not-recommended-condition">Añadir condición</button>
            </div>
            <!-- RECOMMENDED FOR CYCLE PHASES -->
            <div class="form__item-rows">
                <label for="recommendedForCyclePhases" class="form__title">Recomendado para fases:</label>
                <div class="form__selects-div" id="menstrualCyclePhases-selects">
                    <select name="recommendedForCyclePhases">
                    <!-- [Loop1] Loop through all the phases options -->
                        <% menstrualCyclePhases?.forEach( mcp=> { %>
                            <option value="<%= mcp._id %>"><%= mcp.name %></option>
                        <% }); %>
                    <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-phase">Añadir fase</button>
            </div>
            <!-- LINK TO VIDEO -->
            <div class="form__item-rows">
                <label for="linkToVideo" class="form__title">Enlace para video:</label>
                <input type="text" name="linkToVideo" id="linkToVideo">
            </div>
        </div>

        <div class="form-btns__control">
            <button class="form__btn"  type="submit" id="add-exercise-form-btn">Añadir</button>
        </div>
    </form>
</main>
</body>
</html>