<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/activities/exercise.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %> 
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <section class="selection-creation">
        <div class="select-dropdown">
            <label for="select-exercise" class="select-dropdown__title">Equipo:</label>
            <form action="/activities/redirect-to-view-selected-exercise" method="POST">
                <select name="selectedExercise" id="select-exercise-selection">
                    <option value="">-- Elige --</option>
                    <% exerciseNames.forEach( exercise=> { %>
                        <option value="<%= exercise._id %>">
                            <%= exercise.name %>
                        </option>
                        <% }); %>
                </select>
                <button class="select__btn" type="submit">Mostrar</button>
            </form>
        </div>
        <form action="/activities/add-exercise" method="GET">
            <button class="new__btn" type="submit">Nueva</button>
        </form>
    </section>
    <form class="form" action="/activities/exercise" method="POST">
        <div class="form__control">
            <!-- NAME -->
            <div class="form__item">
                <label for="name" class="form__title">Nombre:</label>
                <input type="text" name="name" id="exercise-name">
            </div>
            <!-- ALTERNATIVE NAME -->
            <div class="form__item">
                <label for="alternativeName" class="form__title">Nombre alternativo:</label>
                <input type="text" name="alternativeName" id="alternativeName">
            </div>
            <!-- DIFFICULTY -->
            <div class="form__item-rows">
                <label for="difficulty" class="form__title">Dificultad:</label>
                <select name="difficulty" id="difficulty-selection">
                    <option value="">-- Elige --</option>
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                </select>
            </div>
            <!-- COMPOUND MOVEMENT -->
            <div class="form__item">
                <label class="form__title">Ejercicio compuesto:</label>
                <input type="radio" name="compoundMovement" id="compoundMovementYes" value="yes">
                <label for="compoundMovementYes" class="form__title">Sí</label>
                <input type="radio" name="compoundMovement" id="compoundMovementNo" value="no">
                <label for="compoundMovementNo" class="form__title">No</label>
            </div>
            <!-- MAIN MUSCLE -->
            <div class="form__item-rows">
                <label for="mainMuscle" class="form__title">Músculo principal:</label>
                <div class="form__selects-div" id="mainMuscle-selects">
                    <select name="mainMuscle">
                        <!-- [Loop1] Loop through all the muscles options -->
                        <% muscles?.forEach( mus => { %>
                            <option value="<%= mus._id %>"><%= mus.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
            </div>
            <!-- SECONDARY MUSCLES -->
            <div class="form__item-rows">
                <label for="secondaryMuscles" class="form__title">Músculos secundarios:</label>
                <div class="form__selects-div" id="secondaryMuscles-selects">
                    <select name="secondaryMuscles">
                        <!-- [Loop1] Loop through all the muscles options -->
                        <% muscles?.forEach( mus => { %>
                            <option value="<%= mus._id %>"><%= mus.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-secondaryMuscle">Añadir músculo</button>
            </div>
            <!-- TYPES -->
            <div class="form__item-rows">
                <label for="types" class="form__title">Tipos de ejercicio:</label>
                <div class="form__selects-div" id="exerciseTypes-selects">
                    <select name="types">
                        <!-- [Loop1] Loop through all the muscles options -->
                        <% exerciseTypes?.forEach( type => { %>
                            <option value="<%= type._id %>"><%= type.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-exerciseTypes">Añadir tipo</button>
            </div>
            <!-- EQUIPMENTS -->
            <div class="form__item-rows">
                <label for="equipments" class="form__title">Equipos:</label>
                <div class="form__selects-div" id="equipments-selects">
                    <select name="equipments">
                        <!-- [Loop1] Loop through all the equipments options -->
                        <% equipments?.forEach( eq => { %>
                            <option value="<%= eq._id %>"><%= eq.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-equipments">Añadir equipo</button>
            </div>
            <!-- SAFE FOR CONDITIONS -->
            <div class="form__item-rows">
                <label for="safeForConditions" class="form__title">Seguro para condiciones:</label>
                <div class="form__selects-div" id="safeForPhysicalConditions-selects">
                    <select name="safeForConditions">
                        <!-- [Loop1] Loop through all the physical conditions options -->
                        <% physicalConditions?.forEach( pc => { %>
                            <option value="<%= pc._id %>"><%= pc.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-safe-physicalCondition">Añadir condición</button>
            </div>
            <!-- NOT RECOMMENDED FOR CONDITIONS -->
            <div class="form__item-rows">
                <label for="notRecommendedForConditions" class="form__title">No recomendado para condiciones:</label>
                <div class="form__selects-div" id="notRecommendedForPhysicalCondition-selects">
                    <select name="notRecommendedForConditions">
                        <!-- [Loop1] Loop through all the physical conditions options -->
                        <% physicalConditions?.forEach( pc => { %>
                            <option value="<%= pc._id %>"><%= pc.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-not-recommended-physicalCondition">Añadir condición</button>
            </div>
            <!-- RECOMMENDED FOR CYCLE PHASES -->
            <div class="form__item-rows">
                <label for="recommendedForCyclePhases" class="form__title">Recomendado para fases:</label>
                <div class="form__selects-div" id="menstrualCyclePhases-selects">
                    <select name="recommendedForCyclePhases">
                    <!-- [Loop1] Loop through all the phases options -->
                        <% menstrualCyclePhases?.forEach( mcp=> { %>
                            <option value="<%= mcp._id %>"><%= mcp.name %></option>
                        <% }); %>
                    <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-phase">Añadir fase</button>
            </div>
            <!-- LINK TO VIDEO -->
            <div class="form__item-rows">
                <label for="linkToVideo" class="form__title">Enlace para video:</label>
                <input type="text" name="linkToVideo" id="linkToVideo">
            </div>
        </div>

        <div class="form-btns__control">
            <button class="form__btn"  type="submit" id="add-exercise-form-btn">Añadir</button>
        </div>
    </form>
</main>
<%- include('../includes/end.ejs') %>