<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/activities/muscle.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %> 
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <section class="selection-creation">
        <div class="select-dropdown">
            <label for="select-muscle" class="select-dropdown__title">Equipo:</label>
            <form action="/activities/redirect-to-view-selected-muscle" method="POST">
                <select name="selectedMuscle" id="select-muscle-selection">
                    <option value="">-- Elige --</option>
                    <% muscleNames.forEach( muscle=> { %>
                        <option value="<%= muscle._id %>">
                            <%= muscle.name %>
                        </option>
                        <% }); %>
                </select>
                <button class="select__btn" type="submit">Mostrar</button>
            </form>
        </div>
        <form action="/activities/add-muscle" method="GET">
            <button class="new__btn" type="submit">Nueva</button>
        </form>
    </section>
    <form class="form" action="/activities/muscle" method="POST">
        <div class="form__control">
            <!-- NAME -->
            <div class="form__item">
                <label for="name" class="form__title">Nombre:</label>
                <input type="text" name="name" id="muscle-name">
            </div>
            <!-- ALTERNATIVE NAME -->
            <div class="form__item">
                <label for="alternativeName" class="form__title">Nombre alternativo:</label>
                <input type="text" name="alternativeName" id="alternativeName">
            </div>
            <!-- TYPE -->
            <div class="form__item">
                <label for="type" class="form__title">Tipo de músculo:</label>
                <select name="type" id="type-selection">
                    <option value="">-- Elige --</option>
                    <option value="Grande">Grande</option>
                    <option value="Pequeño">Pequeño</option>
                </select>
            </div>
            <!-- EXERCISES -->
            <div class="form__item-rows">
                <label for="exercises" class="form__title">Ejercicios:</label>
                <div class="form__selects-div" id="exercises-selects">
                    <select name="exercises">
                        <option value="">-- Elige --</option>
                        <!-- [Loop1] Loop through all the exercises options -->
                        <% exercises?.forEach( eq => { %>
                            <option value="<%= eq._id %>"><%= eq.name %></option>
                        <% }); %>
                        <!-- [END-Loop1] -->
                    </select>
                </div>
                <button class="form__add-btn" id="btn-add-new-exercise">Añadir ejercicio</button>
            </div>
             <!-- LINK TO IMAGE -->
            <div class="form__item">
                <label for="linkToImage" class="form__title">Enlace para imagen:</label>
                <input type="text" name="linkToImage" id="linkToImage">
            </div>
        </div>
        <div class="form-btns__control">
            <button class="form__btn"  type="submit" id="form-btn">Añadir</button>
        </div>
    </form>
</main>
<%- include('../includes/end.ejs') %>