<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/activities/equipment.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %> 
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <section class="selection-creation">
        <div class="select-dropdown">
            <label for="select-equipment" class="select-dropdown__title">Equipo:</label>
            <form action="/activities/redirect-to-view-selected-equipment" method="POST">
                <select name="selectedEquipment" id="select-equipment-selection">
                    <option value="">-- Elige --</option>
                    <% equipmentNames.forEach( equipment=> { %>
                        <option value="<%= equipment._id %>"
                            <%=selectedEquipmentInfo?._id?.toString() === equipment._id.toString() ? 'selected' : '' %>
                            >
                            <%= equipment.name %>
                        </option>
                        <% }); %>
                </select>
                <button class="select__btn" type="submit">Mostrar</button>
            </form>
        </div>
        <form action="/activities/add-equipment" method="GET">
            <button class="new__btn" type="submit">Nueva</button>
        </form>
    </section>
    <form class="form" action="/activities/update-equipment/<%- selectedEquipmentInfo._id %>" method="POST">
        <div class="form__control">
            <!-- NAME -->
            <div class="form__item">
                <label for="name" class="form__title">Nombre:</label>
                <input type="text" name="name" id="muscle-name"
                value="<%= selectedEquipmentInfo.name %>">
            </div>
            <!-- ALTERNATIVE NAME -->
            <div class="form__item">
                <label for="alternativeName" class="form__title">Nombre alternativo:</label>
                <input type="text" name="alternativeName" id="alternativeName"
                value="<%= selectedEquipmentInfo.alternativeName %>">
            </div>
            <!-- DESCRIPTION -->
            <div class="form__item">
                <label for="description" class="form__title">Descripción:</label>
                <input type="text" name="description" id="description"
                value="<%= selectedEquipmentInfo.description %>">
            </div>
            <!-- EXERCISES -->
            <div class="form__item-rows">
                <label for="exercises" class="form__title">Ejercicios:</label>
                <div class="form__selects-div" id="exercises-selects">
                    <!-- [Loop1] Loop through exercises associated to curret equipment -->
                    <% selectedEquipmentInfo?.exercises?.forEach( (exercise) => { %> 
                        <select name="exercises">
                            <!-- [Loop2] Loop through all the exercises options -->
                            <% exercises?.forEach( ex => { %>
                                <option value="<%= ex._id %>"
                                    <%=exercise.exerciseId.toString() === ex._id.toString() ? 'selected' : '' %>
                                    ><%= ex.name %></option>
                            <% }); %>
                            <!-- [END-Loop2] -->
                        </select>
                    <% });  %> 
                </div>
                <button class="form__add-btn" id="btn-add-new-exercise">Añadir ejercicio</button>
            </div>
            <!-- LINK TO IMAGE -->
            <div class="form__item">
                <label for="linkToImage" class="form__title">Enlace para imagen:</label>
                <input type="text" name="linkToImage" id="linkToImage"
                value="<%= selectedEquipmentInfo.linkToImage %>">
            </div>
        </div>
        <div class="form-btns__control">
            <button class="update-form__btn" type="submit">Actualizar</button>
            <button class="delete-form__btn" id="btn-delete-equipment">Borrar</button>
        </div>
    </form>
</main>
<%- include('../includes/end.ejs') %>