<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/nutrition/food.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title">
                <%= pageTitle %>:
            </h2>
        </div>
        <section class="selection-creation">
            <div class="select-dropdown">
                <label for="select-food" class="select-dropdown__title">Comida:</label>
                <form action="/nutrition/redirect-to-view-selected-food" method="POST">
                    <select name="selectedFood" id="select-food-selection">
                        <option value="">-- Elige --</option>
                        <% foodNames.forEach( food=> { %>
                            <option value="<%= food._id %>"
                                <%=selectedFoodInfo?._id?.toString() == food._id ? 'selected' : '' %>
                                >
                                <%= food.name %>
                            </option>
                            <% }); %>
                    </select>
                    <button class="select__btn" type="submit">Mostrar</button>
                </form>
            </div>
            <form action="/nutrition/add-food" method="GET">
                <button class="new__btn" type="submit">Nueva</button>
            </form>
        </section>
        <form class="form" action="/nutrition/add-food" method="POST" id="add-food-form">
            <div class="form__control">
                <!-- NAME -->
                <div class="form__item">
                    <label for="name" class="form__title">Nombre:</label>
                    <input type="text" name="name" id="food-name" required>
                </div>
                <!-- DESCRIPTION -->
                <div class="form__item">
                    <label for="description" class="form__title">Descripción:</label>
                    <input type="text" name="description" id="description" required>
                </div>
                <!-- CLASSIFICATION -->
                <div class="form__item">
                    <label for="classification" class="form__title">Clasificación:</label>
                    <select name="classification" id="classification-selection">
                        <option value="">-- Elige --</option>
                        <% foodSelectOptions.classification.forEach( c=> { %>
                            <option value="<%= c %>"><%= c %></option>
                        <% }); %>
                    </select>
                </div>
                <!-- MAIN MACRONUTRIENT -->
                <div class="form__item">
                    <label for="mainMacronutrient" class="form__title">Macronutriente principal:</label>
                    <select name="mainMacronutrient" id="mainMacronutrient-selection">
                        <option value="">-- Elige --</option>
                        <% foodSelectOptions.macronutrients.forEach( mn=> { %>
                            <option value="<%= mn %>"><%= mn %></option>
                        <% }); %>
                    </select>
                </div>
                <!-- SECONDARY MACRONUTRIENT -->
                <div class="form__item">
                    <label for="secondaryMacronutrient" class="form__title">Macronutriente
                        secundario:</label>
                    <select name="secondaryMacronutrient" id="secondaryMacronutrient-selection">
                        <option value="">-- Elige --</option>
                        <% foodSelectOptions.macronutrients.forEach( mn=> { %>
                            <option value="<%= mn %>"><%= mn %></option>
                        <% }); %>
                    </select>
                </div>
                <!-- MEAL TYPE -->
                <div class="form__item">
                    <label class="form__title">Tipo de comida:</label>
                    <input type="checkbox" name="breakfast" id="mealType-selection">
                    <label for="mealType-breakfast" class="form__title">Desayuno</label>
                    <input type="checkbox" name="lunch" id="mealType-selection">
                    <label for="mealType-lunch" class="form__title">Almuerzo</label>
                    <input type="checkbox" name="dinner" id="mealType-selection">
                    <label for="mealType-dinner" class="form__title">Cena</label>
                </div>
                <!-- MICRONUTRIENT DENSITY -->
                <div class="form__item">
                    <label for="micronutrientDensity" class="form__title">Densidad de
                        micronutrientes:</label>
                    <select name="micronutrientDensity" id="micronutrientDensity-selection">
                        <option value="">-- Elige --</option>
                        <% foodSelectOptions.micronutrientDensity.forEach( md=> { %>
                            <option value="<%= md %>"><%= md %></option>
                        <% }); %>
                    </select>
                </div>
                <!-- SAFE FOR CONDITIONS -->
                <div class="form__item-rows">
                    <label for="safeForConditions" class="form__title">Seguro para condiciones:</label>
                    <div class="form__selects-div" id="safeForConditions-selects">
                        <select name="safeForConditions">
                            <!-- [Loop1] Loop through all the chronic conditions options -->
                            <% chronicConditions?.forEach( cc => { %>
                                <option value="<%= cc._id %>"><%= cc.name %></option>
                            <% }); %>
                            <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-safe-condition">Añadir condición</button>
                </div>
                <!-- NOT RECOMMENDED FOR CONDITIONS -->
                <div class="form__item-rows">
                    <label for="notRecommendedForConditions" class="form__title">No recomendado para condiciones:</label>
                    <div class="form__selects-div" id="notRecommendedForConditions-selects">
                        <select name="notRecommendedForConditions">
                            <!-- [Loop1] Loop through all the chronic conditions options -->
                            <% chronicConditions?.forEach( cc => { %>
                                <option value="<%= cc._id %>"><%= cc.name %></option>
                            <% }); %>
                            <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-not-recommended-condition">Añadir condición</button>
                </div>
                <!-- DIET COMPATIBLE -->
                <div class="form__item-rows">
                    <label for="compatibleWithDiets" class="form__title">Compatible con dietas:</label>
                    <div class="form__selects-div" id="compatibleWithDiets-selects">
                        <select name="compatibleWithDiets">
                        <!-- [Loop1] Loop through all the diets options -->
                        <% diets?.forEach( d => { %>
                            <option value="<%= d._id %>"><%= d.name %></option>
                            <% }); %>
                            <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-diet">Añadir dieta</button>
                </div>
                <!-- RECOMMENDED FOR CYCLE PHASES -->
                <div class="form__item-rows">
                    <label for="recommendedForCyclePhases" class="form__title">Recomendado para fases:</label>
                    <div class="form__selects-div" id="menstrualCyclePhases-selects">
                        <select name="recommendedForCyclePhases">
                        <!-- [Loop1] Loop through all the phases options -->
                            <% menstrualCyclePhases?.forEach( mcp=> { %>
                                <option value="<%= mcp._id %>"><%= mcp.name %></option>
                            <% }); %>
                        <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-phase">Añadir fase</button>
                </div>
                <!-- LINK TO IMAGE -->
                <div class="form__item">
                    <label for="linkToImage" class="form__title">Enlace para imagen:</label>
                    <input type="text" name="linkToImage" id="linkToImage">
                </div>
            </div>
            <div class="form-btns__control">
                <button class="form__btn"  type="submit" id="add-food-form-btn">Añadir</button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>