<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/nutrition/recipe.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title"><%= pageTitle %>:</h2>
        </div>
        <section class="selection-creation">
            <div class="select-dropdown">
                <label for="select-recipe" class="select-dropdown__title">Comida:</label>
                <form action="/nutrition/redirect-to-view-selected-recipe" method="POST">
                    <select name="selectedFood" id="select-recipe-selection">
                        <option value="">-- Elige --</option>
                        <% recipeNames.forEach( recipe=> { %>
                            <option value="<%= recipe._id %>"
                                <%=selectedFoodInfo?._id?.toString() == recipe._id ? 'selected' : '' %>
                                >
                                <%= recipe.name %>
                            </option>
                            <% }); %>
                    </select>
                    <button class="select__btn" type="submit">Mostrar</button>
                </form>
            </div>
            <form action="/nutrition/add-recipe" method="GET">
                <button class="new__btn" type="submit">Nueva</button>
            </form>
        </section>
        <form class="form" action="/nutrition/add-recipe" method="POST">
            <div class="form__control">
                <!-- NAME -->
                <div class="form__item">
                    <label for="name" class="form__title">Nombre:</label>
                    <input type="text" name="name" id="recipe-name">
                </div>
                <!-- DESCRIPTION -->
                <div class="form__item">
                    <label for="description" class="form__title">Descripción:</label>
                    <input type="text" name="description" id="description">
                </div>
                <!-- SOURCE -->
                <div class="form__item">
                    <label for="source" class="form__title">Fuente:</label>
                    <input type="text" name="source" id="source">
                </div>
                <!-- PREPARATION TIME -->
                <div class="form__item">
                    <label for="preparationTime" class="form__title">Tiempo de preparación:</label>
                    <input type="number" name="preparationTime" id="preparationTime">
                </div>
                <!-- COMPLEXITY -->
                <div class="form__item">
                    <label for="complexity" class="form__title">Complejidad:</label>
                    <select name="complexity" id="complexity-selection">
                        <option value="baja">Baja</option>
                        <option value="media">Media</option>
                        <option value="alta">Alta</option>
                    </select>
                </div>
                <!-- MEAL TYPE -->
                <div class="form__item">
                    <label class="form__title">Tipo de comida:</label>
                    <input type="checkbox" name="mealType-breakfast" id="mealType-selection">
                    <label for="mealType-breakfast" class="form__title">Desayuno</label>
                    <input type="checkbox" name="mealType-lunch" id="mealType-selection">
                    <label for="mealType-lunch" class="form__title">Almuerzo</label>
                    <input type="checkbox" name="mealType-dinner" id="mealType-selection">
                    <label for="mealType-dinner" class="form__title">Cena</label>
                </div>
                <!-- INGREDIENTS -->
                <div class="form__item-rows">
                    <label for="ingredients" class="form__title">Ingredientes:</label>
                    <div class="form__selects-div" id="ingredients-selects">
                        <select name="ingredients">
                            <!-- [Loop1] Loop for all the ingredients options -->
                            <% ingredients?.forEach( ing => { %>
                                <option value="<%= ing._id %>"><%= ing.name %></option>
                            <% }); %>
                            <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-ingredient">Añadir ingrediente</button>
                </div>
                <!-- INSTRUCTIONS -->
                <div class="form__item-rows">
                    <label for="instructions" class="form__title">Instrucciones:</label>
                    <div class="form__textarea-div" id="instructions-textarea">
                        <textarea name="instructions" id="instructions" rows="3"></textarea>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-instruction">Añadir instrucción</button>
                </div>
                <!-- UTENSILS -->
                <div class="form__item-rows">
                    <label for="utensils" class="form__title">Utensilios:</label>
                    <div class="form__input-div" id="utensils-input">
                        <input type="text" name="utensils" id="utensils">
                    </div>
                    <button class="form__add-btn" id="btn-add-new-utensil">Añadir utensilio</button>
                </div>
                <!-- SAFE FOR CONDITIONS -->
                <div class="form__item-rows">
                    <label for="safeForConditions" class="form__title">Seguro para condiciones:</label>
                    <div class="form__selects-div" id="safeForConditions-selects">
                        <select name="safeForConditions">
                            <!-- [Loop1] Loop for all the chronic conditions options -->
                            <% chronicConditions?.forEach( cc => { %>
                                <option value="<%= cc._id %>"><%= cc.name %></option>
                            <% }); %>
                            <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-safe-condition">Añadir condición</button>
                </div>
                <!-- NOT RECOMMENDED FOR CONDITIONS -->
                <div class="form__item-rows">
                    <label for="notRecommendedForConditions" class="form__title">No recomendado para condiciones:</label>
                    <div class="form__selects-div" id="notRecommendedForConditions-selects">
                        <select name="notRecommendedForConditions">
                            <!-- [Loop1] Loop for all the chronic conditions options -->
                            <% chronicConditions?.forEach( cc => { %>
                                <option value="<%= cc._id %>"><%= cc.name %></option>
                            <% }); %>
                            <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-not-recommended-condition">Añadir condición</button>
                </div>
                <!-- DIET COMPATIBLE -->
                <div class="form__item-rows">
                    <label for="compatibleWithDiets" class="form__title">Compatible con dietas:</label>
                    <div class="form__selects-div" id="compatibleWithDiets-selects">
                        <select name="compatibleWithDiets">
                        <!-- [Loop1] Loop for all the diets options -->
                        <% diets?.forEach( d => { %>
                            <option value="<%= d._id %>"><%= d.name %></option>
                            <% }); %>
                            <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-diet">Añadir dieta</button>
                </div>
                <!-- RECOMMENDED FOR CYCLE PHASES -->
                <div class="form__item-rows">
                    <label for="recommendedForCyclePhases" class="form__title">Recomendado para fases:</label>
                    <div class="form__selects-div" id="menstrualCyclePhases-selects">
                        <select name="recommendedForCyclePhases">
                        <!-- [Loop1] Loop for all the phases options -->
                            <% menstrualCyclePhases?.forEach( mcp=> { %>
                                <option value="<%= mcp._id %>"><%= mcp.name %></option>
                            <% }); %>
                        <!-- [END-Loop1] -->
                        </select>
                    </div>
                    <button class="form__add-btn" id="btn-add-new-phase">Añadir fase</button>
                </div>
                <!-- LINK TO IMAGE -->
                <div class="form__item">
                    <label for="linkToImage" class="form__title">Enlace para imagen:</label>
                    <input type="text" name="linkToImage" id="linkToImage">
                </div>
                <!-- LINK TO VIDEO -->
                <div class="form__item">
                    <label for="linkToVideo" class="form__title">Enlace para video:</label>
                    <input type="text" name="linkToVideo" id="linkToVideo">
                </div>
            </div>
            <div class="form-btns__control">
                <button class="form__btn"  type="submit" id="add-recipe-form-btn">Añadir</button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>