<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/nutrition/food.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title">
                <%= pageTitle %>:
            </h2>
        </div>
        <section class="food-selection-creation">
            <div class="select-food-dropdown">
                <label for="select-food" class="select-food-dropdown__title">Comida:</label>
                <form action="/nutrition/redirect-to-food-info" method="POST">
                    <select name="selectedFood" id="select-food-selection">
                        <option value="">-- Elige --</option>
                        <% foodNames.forEach( food=> { %>
                            <option value="<%= food._id %>"
                                <%=selectedFoodId==food._id ? 'selected' : '' %>
                                >
                                <%= food.name %>
                            </option>
                            <% }); %>
                    </select>
                    <button class="select-food__btn" type="submit">Mostrar</button>
                </form>
            </div>

            <button class="new-food__btn" type="reset">Nueva</button>
        </section>

        <!-- Hides main form if no food has been selected yet -->
        <% if (foodInfo) { %>
            <div class="add-food-form">
                <div class="add-food-form__control">
                    <!-- NAME -->
                    <div class="add-food-form__item">
                        <label for="name" class="add-food-form__title">Nombre:</label>
                        <input type="text" name="name" id="food-name" value="<%= foodInfo.name %>">
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="add-food-form__item">
                        <label for="description" class="add-food-form__title">Descripción:</label>
                        <input type="text" name="description" id="description" value="<%= foodInfo.description %>">
                    </div>
                    <!-- CLASSIFICATION -->
                    <div class="add-food-form__item">
                        <label for="classification" class="add-food-form__title">Clasificación:</label>
                        <select name="classification" id="classification-selection">
                            <option value="">-- Elige --</option>
                            <% foodValues.classification.forEach( c=> { %>
                                <option value="<%= c %>"
                                    <%=foodInfo.classification == c ? 'selected' : '' %>
                                    ><%= c %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- MAIN MACRONUTRIENT -->
                    <div class="add-food-form__item">
                        <label for="mainMacronutrient" class="add-food-form__title">Macronutriente principal:</label>
                        <select name="mainMacronutrient" id="mainMacronutrient-selection">
                            <option value="">-- Elige --</option>
                            <% foodValues.macronutrients.forEach( mn=> { %>
                                <option value="<%= mn %>"
                                    <%=foodInfo.mainMacronutrient == mn ? 'selected' : '' %>
                                    ><%= mn %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- SECONDARY MACRONUTRIENT -->
                    <div class="add-food-form__item">
                        <label for="secondaryMacronutrient" class="add-food-form__title">Macronutriente
                            secundario:</label>
                        <select name="secondaryMacronutrient" id="secondaryMacronutrient-selection">
                            <option value="">-- Elige --</option>
                            <% foodValues.macronutrients.forEach( mn=> { %>
                                <option value="<%= mn %>"
                                    <%=foodInfo.secondaryMacronutrient == mn ? 'selected' : '' %>
                                    ><%= mn %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- MEAL TYPE -->
                    <div class="add-food-form__item">
                        <label class="add-food-form__title">Tipo de comida:</label>
                        <input type="checkbox" name="mealType-breakfast" id="mealType-selection" 
                            <%=foodInfo.mealType?.includes('Desayuno') ? 'checked' : '' %>
                        >
                        <label for="mealType-breakfast" class="add-food-form__title">Desayuno</label>
                        <input type="checkbox" name="mealType-lunch" id="mealType-selection"
                            <%=foodInfo.mealType?.includes('Almuerzo') ? 'checked' : '' %>
                        >
                        <label for="mealType-lunch" class="add-food-form__title">Almuerzo</label>
                        <input type="checkbox" name="mealType-dinner" id="mealType-selection"
                            <%=foodInfo.mealType?.includes('Cena') ? 'checked' : '' %>
                        >
                        <label for="mealType-dinner" class="add-food-form__title">Cena</label>
                    </div>
                    <!-- MICRONUTRIENT DENSITY -->
                    <div class="add-food-form__item">
                        <label for="micronutrientDensity" class="add-food-form__title">Densidad de
                            micronutrientes:</label>
                        <select name="micronutrientDensity" id="micronutrientDensity-selection">
                            <option value="">-- Elige --</option>
                            <% foodValues.micronutrientDensity.forEach( md=> { %>
                                <option value="<%= md %>"
                                    <%=foodInfo.micronutrientDensity == md ? 'selected' : '' %>
                                    ><%= md %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- SAFE FOR CONDITIONS -->
                    <div class="add-food-form__item-rows">
                        <label for="safeForConditions" class="add-food-form__title">Seguro para condiciones:</label>
                        <div class="add-food-form__selects-div" id="safeForConditions-selects">
                            <!-- [Loop1] Loop for chronic conditions associated to curret food -->
                            <% foodInfo.safeForConditions.forEach( (condition, index) => { %> 
                                <select name="safeForConditions">
                                    <option value="">-- Elige --</option>
                                    <!-- [Loop2] Loop for all the chronic conditions options -->
                                    <% foodValues.chronicConditions.forEach( cc => { %>
                                        <option value="<%= cc._id %>"
                                            <%=condition.conditionId == cc._id ? 'selected' : '' %>
                                            ><%= cc.name %></option>
                                    <% }); %>
                                    <!-- [END-Loop2] -->
                                </select>
                            <% });  %> 
                        </div>
                        <!-- [END-Loop1] -->
                        <button class="add-food-form__add-btn" id="btn-add-new-safe-condition">Añadir condición</button>
                    </div>
                    <!-- NOT RECOMMENDED FOR CONDITIONS -->
                    <div class="add-food-form__item-rows">
                        <label for="notRecommendedForConditions" class="add-food-form__title">No recomendado para condiciones:</label>
                        <div class="add-food-form__selects-div" id="notRecommendedForConditions-selects">
                            <!-- [Loop1] Loop for chronic conditions associated to curret food -->
                            <% foodInfo.notRecommendedForConditions.forEach( (condition, index) => { %> 
                                <select name="notRecommendedForConditions">
                                    <option value="">-- Elige --</option>
                                    <!-- [Loop2] Loop for all the chronic conditions options -->
                                    <% foodValues.chronicConditions.forEach( cc => { %>
                                        <option value="<%= cc._id %>"
                                            <%=condition.conditionId == cc._id ? 'selected' : '' %>
                                            ><%= cc.name %></option>
                                    <% }); %>
                                    <!-- [END-Loop2] -->
                                </select>
                            <% });  %> 
                            <!-- [END-Loop1] -->
                        </div>
                        <button class="add-food-form__add-btn" id="btn-add-new-not-recommended-condition">Añadir condición</button>
                    </div>
                    <!-- DIET FRIENDLY -->
                    <div class="add-food-form__item-rows">
                        <label for="dietCompatible" class="add-food-form__title">Compatible con dietas:</label>
                        <!-- [Loop1] Loop for diets associated to curret food -->
                        <% foodInfo.dietCompatible.forEach( (diet, index) => { %> 
                            <select name="dietCompatible-<%- index %>">
                                <option value="">-- Elige --</option>
                              <!-- [Loop2] Loop for all the diets options -->
                              <% foodValues.diets.forEach( d => { %>
                                <option value="<%= d._id %>"
                                    <%=diet.dietId == d._id ? 'selected' : '' %>
                                    ><%= d.name %></option>
                                <% }); %>
                                <!-- [END-Loop2] -->
                            </select>
                        <% });  %> 
                        <!-- [END-Loop1] -->
                        <button class="add-food-form__add-btn" id="btn-add-new-diet">Añadir dieta</button>
                    </div>
                    <!-- RECOMMENDED FOR CYCLE PHASES -->
                    <div class="add-food-form__item-rows">
                        <label for="recommendedForCyclePhases" class="add-food-form__title">Recomendado para fases:</label>
                        <!-- [Loop1] Loop for diets associated to curret food -->
                        <% foodInfo.recommendedForCyclePhases.forEach( (phase, index) => { %> 
                            <select name="recommendedForCyclePhases-<%- index %>">
                                <option value="">-- Elige --</option>
                                <% foodValues.menstrualPhases.forEach( mf=> { %>
                                    <option value="<%= mf %>"
                                        <%=phase == mf ? 'selected' : '' %>
                                        ><%= mf %></option>
                                <% }); %>
                            <!-- [END-Loop2] -->
                            </select>
                        <% });  %> 
                        <!-- [END-Loop1] -->
                        <button class="add-food-form__add-btn" id="btn-add-new-phase">Añadir fase</button>
                    </div>
                    <!-- LINK TO IMAGE -->
                    <div class="add-food-form__item">
                        <label for="linkToImage" class="add-food-form__title">Enlace para imagen:</label>
                        <input type="text" name="linkToImage" id="linkToImage" value="<%= foodInfo.linkToImage %>">
                    </div>
                </div>
                <div class="food-form-btns__control">
                    <button class="update-food-form__btn" type="submit">Actualizar</button>
                    <button class="delete-food-form__btn" type="submit">Borrar</button>
                </div>
            </div>
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>