<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/nutrition/diet.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title"><%= pageTitle %>:</h2>
        </div>
        <section class="selection-creation">
            <div class="select-dropdown">
                <label for="select-diet" class="select-dropdown__title">Comida:</label>
                <form action="/nutrition/redirect-to-view-selected-diet" method="POST">
                    <select name="selectedDiet" id="select-diet-selection">
                        <option value="">-- Elige --</option>
                        <% dietNames.forEach( diet=> { %>
                            <option value="<%= diet._id %>"
                                <%=selectedDietInfo?._id?.toString() == diet._id ? 'selected' : '' %>
                                >
                                <%= diet.name %>
                            </option>
                            <% }); %>
                    </select>
                    <button class="select__btn" type="submit">Mostrar</button>
                </form>
            </div>
            <form action="/nutrition/add-diet" method="GET">
                <button class="new__btn" type="submit">Nueva</button>
            </form>
        </section>
        <form class="form" action="/nutrition/update-diet/<%- selectedDietInfo._id %>" method="POST">
            <div class="form__control">
                <!-- NAME -->
                <div class="form__item">
                    <label for="name" class="form__title">Nombre:</label>
                    <input type="text" name="name" id="name"  value="<%= selectedDietInfo.name %>">
                </div>
                <!-- OFFICIAL NAME -->
                <div class="form__item">
                    <label for="officialName" class="form__title">Nombre oficial:</label>
                    <input type="text" name="officialName" id="officialName" value="<%= selectedDietInfo.officialName %>">
                </div>
                <!-- DESCRIPTION -->
                <div class="form__item">
                    <label for="description" class="form__title">Descripción:</label>
                    <input type="text" name="description" id="description"  value="<%= selectedDietInfo.description %>">
                </div>
                <!-- SAFE FOR CONDITIONS -->
                <div class="form__item-rows">
                    <label for="safeForConditions" class="form__title">Seguro para condiciones:</label>
                    <div class="form__selects-div" id="safeForConditions-selects">
                        <!-- [Loop1] Loop through chronic conditions associated to curret diet -->
                        <% selectedDietInfo?.safeForConditions?.forEach( (condition) => { %> 
                            <select name="safeForConditions">
                                <!-- [Loop2] Loop through all the chronic conditions options -->
                                <% chronicConditions?.forEach( cc => { %>
                                    <option value="<%= cc._id %>"
                                        <%=condition.conditionId == cc._id ? 'selected' : '' %>
                                        ><%= cc.name %></option>
                                <% }); %>
                                <!-- [END-Loop2] -->
                            </select>
                        <% });  %> 
                    </div>
                    <!-- [END-Loop1] -->
                    <button class="form__add-btn" id="btn-add-new-safe-condition">Añadir condición</button>
                </div>
            </div>
            <div class="form-btns__control">
                <button class="update-form__btn" type="submit">Actualizar</button>
                <button class="delete-form__btn" id="btn-delete-diet">Borrar</button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>